        /*
        common styles
        */

        /* color codes 2
        bg F4F4F4
        pr 6DECB9
        sn 11999E
        tr 3C3C3C       
        */

        :root {
            --background-color1: #F4F4F4;
            --background-color2: #6DECB9;
            --background-color3: #11999E;
            --foreground-color1: #3C3C3C;

            --foreground-color2: #11999E;
            --foreground-color3: #6DECB9;
            --font-color1: #3C3C3C;
            --font-color2: #F4F4F4;
            --font-color3: #11999E;            
            --font-color4: #3C3C3C;            
            --font-color5: #6DECB9;
            --font-color6: #F4F4F4;

            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        input, textarea {
            -webkit-user-select: auto !important;
            -khtml-user-select: auto !important;
            -moz-user-select: auto !important;
            -ms-user-select: auto !important;
            user-select: auto !important;
        }

        body {
            background: var(--background-color1);
            margin: 0%;
            padding: 0%;
        }
        div {
            margin: 0%;
            padding: 0%;
            font-family: 'Franklin Gothic Medium';
        }
        p {
            font-family: 'Franklin Gothic Medium';
            color: var(--font-color1);
        }

        .store-id {
            color: var(--font-color5);
        }

        .button-overlay-image {
            width: 40%;
            height: auto;
            margin-left: 30%;
            margin-right: 30%;
            margin-top: 70%;
            margin-bottom: 70%;
        }
        .show-deal-button {
            background-color: transparent;
        }

        .fixed-top {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            z-index: 1500;
        }
        .fixed-bottom {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            z-index: 1500;
        }
        .full-width-row {
            width: 100%;
            height: auto;
            padding: 0%;
            margin: 0%;
        }       
        .no-margin-padding {            
            margin: 0;
            padding: 0;
        }
        .header-text {            
            font-size: 2rem;
            margin: 0%;
            padding: .25rem;            
            padding-left: 1rem;
        }
        .title-text {
            font-size: 2rem;
            margin: 0%;
            padding: .25rem;            
            padding-left: 1rem;
        }
        .button-image {            
            border-radius: 50%;
            width: auto;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        /*
        hot deal styles
        */

        .hot-deal-container {
            background-color: var(--background-color2) !important;
        } 
        .hot-deal-title {
            color: var(--font-color3) !important;
        }
        .hot-deal-description {
            color: var(--font-color4) !important;
        }

        /*
        featured deal styles
        */

        .featured-deal-container {
            background-color: var(--background-color3) !important;
        } 
        .featured-deal-title {
            color: var(--font-color5) !important;
        }
        .featured-deal-description {
            color: var(--font-color6) !important;
        }
        
        /*
        head banner styles
        */
        div.head-space {
            width: 100%;
            height: 6rem;
        }
        div.head-banner {
            width: 100%;
            height: 4rem;
            background-color: var(--background-color3);
            color: var(--font-color5);
            font-size: 2rem;
            font-weight: 500;
            text-shadow: .2rem .2rem .2rem rgba(0, 0, 0, 0.5);
            padding: .5rem;
        }

        /*
        deal card styles
        */

        .deal-container {       
            margin: .5rem;
            padding: 0%;
            background-color: var(--background-color1);
            box-shadow: 0 0 .5rem .25rem rgba(0, 0, 0, 0.25);
        }
        .deal-image {
            border: solid;
            border-color: var(--background-color1);
            border-width: .2rem;            
            border-radius: 50%;
            width: 90%;
            height: auto;
            margin: 5%;
            padding: 0;
        }
        .deal-title {
            margin: 0%;
            padding: 0;
            padding-left: .25rem;
            text-align: left;
        }
        .deal-description {
            margin: 0%;
            padding: 0;
            padding-left: .25rem;
            text-align: left;
            word-break: break-all;
        }
        
        /*
        header styles
        */
       
        .header-block {
            background: var(--foreground-color1) !important;
            margin: 0% !important;
            padding: .5rem !important;
            height: auto !important;
            width: 100% !important;
        }
        .app-icon {    
            display: inline-block;        
            border-radius: 50% !important;
            width: auto !important;
            height: 4rem !important;
            margin: .5rem !important;
            padding: 0 !important;
        }
        .app-name {
            display: inline-block;
            font-size: 2rem !important;
            color: rgb(255, 255, 255) !important;
        }
        .header-button {
            border: none !important;
            border-radius: 50% !important;
            float: right !important;        
            width: auto !important;
            height: 4rem !important;
            background-color: var(--background-color1) !important;
            padding: 0% !important;
            margin: .5rem !important;
        }

        /*
        footer styles
        */

        .footer-block {
            background: var(--foreground-color1) !important;
            margin: 0% !important;
            padding: .5rem !important;
            height: auto !important;
            width: 100% !important;
        }

        .footer-button {
            border: none !important;
            border-radius: 50% !important;
            width: auto !important;
            height: 4rem !important;
            background-color: var(--foreground-color2) !important;
            padding: 0% !important;
            margin: .5rem !important;
        }

        .sub-menu-buttons {
            width: 96%;
            height: auto;
            margin: 2%;
            padding: 1rem;
            border-width: 0;
        }

        .menu-style {
            padding: 1rem;
            border-width: 0;
            background-color: var(--foreground-color3);
        }

        .screen-overlay {
            position: fixed;
            left: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.25);
            z-index: 1000;
        }

        .maps {
            height: 300px;
            width: 100%;
            background-color: grey;
        }

        .deal-maps {
            height: 250px;
            width: 100%;
            background-color: grey;
        }

        .deal-display {            
            margin: .5rem;
            padding: 0%;
            background-color: var(--background-color3);
            box-shadow: 0 0 .5rem .25rem rgba(0, 0, 0, 0.25);
        }

        .deal-badge {
            margin: 0;
            padding: 0;
            max-height: 25px;
            display: inline-block;
            text-align: center;
        }

        .rating-bg {
            position: absolute;
            top: -15%;
            left: 40%;
            color: var(--background-color1);
        }

        .get-deal-button {
            background-color: var(--background-color2);
            padding: .25rem;
            font-size: 1.5rem;
            font-weight: bold;
        }

