        /*
        common styles
        */

        /* color codes 
        bg FAFFB8
        pr C5F0A4
        sn 35B0AB
        tr 226B80       
        */

        :root {
            --background-color: #ffffff;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        input, textarea {
            -webkit-user-select: auto !important;
            -khtml-user-select: auto !important;
            -moz-user-select: auto !important;
            -ms-user-select: auto !important;
            user-select: auto !important;
        }

        body {
            background: var(--background-color);
            margin: 0%;
            padding: 0%;
        }
        div {
            margin: 0%;
            padding: 0%;
            font-family: 'Franklin Gothic Medium';
        }
        p {
            font-family: 'Franklin Gothic Medium';
            color: #273238;
        }

        .button-overlay-image {
            width: 40%;
            height: auto;
            margin-left: 30%;
            margin-right: 30%;
            margin-top: 70%;
            margin-bottom: 70%;
        }
        .fixed-top {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            z-index: 1500;
        }
        .fixed-bottom {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            z-index: 1500;
        }
        .full-width-row {
            width: 100%;
            height: auto;
        }       
        .no-margin-padding {            
            margin: 0;
            padding: 0;
        }
        .header-text {            
            font-size: 2rem;
            margin: 0%;
            padding: .25rem;            
            padding-left: 1rem;
        }
        .title-text {
            font-size: 2rem;
            margin: 0%;
            padding: .25rem;            
            padding-left: 1rem;
        }
        .button-image {            
            border-radius: 50%;
            width: auto;
            height: 100%;
            margin: 0;
            padding: 0;
        }

        /*
        hot deal styles
        */

        .hot-deal-container {
            background-color: #ffd741 !important;
        } 
        .hot-deal-title {
            color: #f0182d !important;
        }
        .hot-deal-description {
            color: #273238 !important;
        }

        /*
        featured deal styles
        */

        .featured-deal-container {
            background-color: #607d8d !important;
        } 
        .featured-deal-title {
            color: #ffd741 !important;
        }
        .featured-deal-description {
            color: #ffffff !important;
        }
        
        /*
        head banner styles
        */
        div.head-space {
            width: 100%;
            height: 6rem;
        }
        div.head-banner {
            width: 100%;
            height: 4rem;
            background-color: #607d8d;
            color: #ffd741;
            font-size: 2rem;
            font-weight: 500;
            text-shadow: .2rem .2rem .2rem rgba(0, 0, 0, 0.5);
            padding: .5rem;
        }

        /*
        deal card styles
        */

        .deal-container {       
            margin: .5rem;
            padding: 0%;
            background-color: #DBE2EF;
            box-shadow: 0 0 .5rem .25rem rgba(0, 0, 0, 0.25);
            animation-name: slide-left;
            animation-duration: 2s;
        }
        .deal-image {
            border: solid;
            border-color: white;
            border-width: .2rem;            
            border-radius: 50%;
            width: 90%;
            height: auto;
            margin: 5%;
            padding: 0;
        }
        .deal-title {
            margin: 0%;
            padding: 0;
            padding-left: .25rem;
            text-align: left;
        }
        .deal-description {
            margin: 0%;
            padding: 0;
            padding-left: .25rem;
            text-align: left;
            word-break: break-all;
        }
        
        /*
        header styles
        */
       
        .header-block {
            background: #273238 !important;
            margin: 0% !important;
            padding: .5rem !important;
            height: auto !important;
            width: 100% !important;
        }
        .app-icon {    
            display: inline-block;        
            border-radius: 50% !important;
            width: auto !important;
            height: 4rem !important;
            margin: .5rem !important;
            padding: 0 !important;
        }
        .app-name {
            display: inline-block;
            font-size: 2rem !important;
            color: rgb(255, 255, 255) !important;
        }
        .header-button {
            border: none !important;
            border-radius: 50% !important;
            float: right !important;        
            width: auto !important;
            height: 4rem !important;
            background-color: white !important;
            padding: 0% !important;
            margin: .5rem !important;
        }

        /*
        footer styles
        */

        .footer-block {
            background: #273238 !important;
            margin: 0% !important;
            padding: .5rem !important;
            height: auto !important;
            width: 100% !important;
        }

        .footer-button {
            border: none !important;
            border-radius: 50% !important;
            width: auto !important;
            height: 4rem !important;
            background-color: #607d8d !important;
            padding: 0% !important;
            margin: .5rem !important;
        }

        .sub-menu-buttons {
            width: 96%;
            height: auto;
            margin: 2%;
            padding: 1rem;
            border-width: 0;
        }

        .menu-style {
            padding: 1rem;
            border-width: 0;
            background-color: #ffd741;
        }

        .screen-overlay {
            position: fixed;
            left: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.25);
            z-index: 1000;
        }

        .maps {
            height: 350px;
            width: 100%;
            background-color: grey;
        }

